.page {
    margin-top: 15vh;
    margin-left: 5vh;
}

.red {
    color: red;
}

.register {
    color: 'white';
    height: "80vh";
    align-items: "center";
    border: 2px;
    border-color: black;
    width: "30vw";
}